# Source files
src/**
tsconfig.json
.vscode/**
.vscode-test/**

# Build files
*.vsix
.eslintrc.json
eslint.config.mjs

# Git
.git
.gitignore

# Dependencies
node_modules/**
pnpm-lock.yaml

# Documentation
vsc-extension-quickstart.md
CHANGELOG.md

# Test files
test-files/**

# Misc
.DS_Store
Makefile
